/* .box{
    border: 5px solid red;
    text-align: center;
    background-color: aqua;
    width: 150px;
    height: 150px;
    
}
.box1{
    background-color: blue;
    text-align:center;
    border: 14px solid black;
    width: 250px;
    height: 250px;
} */
.newClass{
    background-color:beige;

}