body{
    background-color: black;
}
h1{
    
    font-family: "Press Start 2P","Consolas", sans-serif;
    font-size: 28px;
}
p{
    color: black;
    background-color: beige;
    font-family: "consolas",sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 10px;
    text-decoration: yellow dashed;
}

